<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sample2.Sample2Mapper">

	<select id="selectSampleList" resultType="com.example.entity.Sample">
		select id,value from sample;
	</select>
	
	<select id="exists" parameterType="java.lang.String" resultType="Integer">
		select count(*) from sample where id = #{id}
	</select>
	
	<update id="insertSample" parameterType="com.example.entity.Sample">
		insert into sample values(#{id}, #{value})
	</update>
	
	<update id="deleteSample">
		delete from sample where id = #{id}
	</update>
</mapper>